* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Containers */
#main-container {
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    border-radius: 1.5em;
    border: 2px solid black;
}

#display {
    background-color: white;
    font-size: 50px;
    height: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 10px 10px 0 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

#output {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

#first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    gap: 10px;
    margin: 10px;
}

#clear {
    flex: 3.5 1 0;
}

#second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    gap: 10px;
    margin: 10px;
}

#third-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    gap: 10px;
    margin: 10px;
}

#fourth-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    gap: 10px;
    margin: 10px;
}

#fifth-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    gap: 10px;
    margin: 10px;
}



/* Buttons */
button {
    border-radius: 100px;
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid black;
}

button:hover {
    background-color: rgb(90, 219, 148);
    transition: 0.2s ease-in-out;
}


/* #zero {
    border-radius: 50px;
    flex-grow: 2;
} */

/* #clear {
    border-radius: 50%;
    flex-grow: 1;
}

#pos-neg {
    border-radius: 50%;
    flex-grow: 1;
}

#percent {
    border-radius: 50%;
    flex-grow: 1;
}

#divide {
    border-radius: 50%;
    flex-grow: 1;
}

#seven {
    border-radius: 50%;
    flex-grow: 1;
}

#eight {
    border-radius: 50%;
    flex-grow: 1;
}

#nine {
    border-radius: 50%;
    flex-grow: 1;
}

#multiply {
    border-radius: 50%;
    flex-grow: 1;
}

#four {
    border-radius: 50%;
    flex-grow: 1;
}

#five {
    border-radius: 50%;
    flex-grow: 1;
}

#six {
    border-radius: 50%;
    flex-grow: 1;
}

#subtract {
    border-radius: 50%;
    flex-grow: 1;
}

#one {
    border-radius: 50%;
    flex-grow: 1;
}

#two {
    border-radius: 50%;
    flex-grow: 1;
}

#three {
    flex-grow: 1;
}

#add {
    flex-grow: 1;
}

#zero {
    flex-grow: 2;
}

#decimal {
    flex-grow: 1;
}

#equals {
    flex-grow: 1;
} */
